@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');

/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* font */
body {
  font-family: 'Noto Sans KR', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

:root {
  /* 🎨 COLOR SYSTEM */

  /* 배경/기본 색상 */
  --color-white: #fafafa; /* 배경용 흰색 */
  --color-black: #535353; /* 글자용 검정 */
  --color-gray-medium: #959595; /* 보조 텍스트 */
  --color-gray-light: #e4e4e4; /* 구분선 */
  --color-purple: #d5d7f2; /* 연한 보라색 */

  /* 메인 컬러 코드, 도넛 그래프 */
  --color-purplr1: #5d45db; /* 가장 진한 */
  --color-purple2: #a698eb;
  --color-purple3: #d3ccf5;
  --color-purple4: #ece9ff; /* 가장 연함 */

  /* 주요 색상 (수입/지출 공통) */
  --color-blue: #4a90e2; /* 수입 */
  --color-red: #ff6b6b; /* 지출 */

  /* 🅰️ FONT SIZE SYSTEM (rem) */
  --font-xs: 0.75rem; /* 12px */
  --font-base: 1rem; /* 16px (기본) */
  --font-md: 1.125rem; /* 18px */
  --font-xl: 1.5rem; /* 24px */

  /* 📐 SPACING SYSTEM (rem) */
  --space-xs: 0.5rem; /* 8px */
  --space-md: 1rem; /* 16px */
  --space-lg: 1.5rem; /* 24px */
  --space-xl: 2rem; /* 32px */

}
